body{
    background: rgb(105, 150, 235);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header{
    background: blueviolet;
    height:120px;
    width:100vw;
    z-index: -1 ;
    margin-top:-17px;
    margin-left:-10px;
}

h1{
    color:black; 
    position:absolute;
    left: 295px;
    right: 100px;
}

h3{
    color:black;
    position:absolute;
    left: 297px;
    bottom:600px;
}

h1 h3{
    background:blue;
}

center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

h2{
    position:absolute;
    text-align: center;
    left: 620px;
    bottom:15px;
    background: gray;
    padding: 15px 5px;
}

h5{
    position:absolute;
    left:300px;
    bottom:85px;
}

footer{
    position:absolute;
    left:270px;
    bottom:10px;
}

.rectangle {
    width: 290px;
    height: 100vh;
    background: orange;
    margin-left: -30px;
  }


.otherRectangle{ 
    width: 290px;
    height: 100vh;
    background: orange;
    position:absolute;
    right: 0%;
    top: 119px;
  }

.bottomRectangle{
    background: blueviolet;
    height:120px;
    width:100vw;
    position:absolute;
    bottom:- 50px;
    margin-left:-10px;
}

.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -500px;
}
