<!doctype html>
     
     <head>
         
         <title>16Pathways - Home</title>
         <link href ='16Pathways-CSS.css' rel='stylesheet'/>
     
     </head>

     <body>

         <header>
             <h1>16Pathways</h1>
             <p>
                <h3>
                    Find the career that works for you
                 </h3>
             </p>
         </header>

         <img src=''>
         
         <h5>
         Our helpful tool analyes your personality to search for the major that will specifically fit you and your career. Try it today!  
         </h5>

         <h2>Search for Your Career</h2>

         <h4>
         <img src='https://media.istockphoto.com/photos/minimal-search-bar-in-white-on-blue-background-web-search-concept-picture-id1301369305?k=6&m=1301369305&s=612x612&w=0&h=meGl5cH71CLrFvI7KkxjSvYvU3vNy10Vf3AOuaZboVg=' class='center'>
         </h4>

         <footer>16Pathways 2021</footer>

        
     </body>
  
</html>
