{% load static %}
<!doctype html>
     
     <head>
         
         <title>16Pathways - Home</title>
         <link href ="{% static '16Pathways-CSS.css' %}" rel='stylesheet'/>
     
     </head>

     <body>
         <meta name="viewport" content="width=device-width, initial-scale=1.0">
         <header>
             <h1>
                 <img scr = {% static "staticFiles/16Pathways(Logo).png" %}>
                 16Pathways
            </h1>
             <p>
                 <h3>
                    Find the career that works for you
                 </h3>
             </p>
         </header>
        
         
         <div class='rectangle'></div>
         <div class='otherRectangle'></div>
         <div class='bottomRectangle'></div>

         <img src='https://images.everydayhealth.com/images/neurology/dyslexia/dyslexia-types-722x406.jpg' class='centre'>
         
         <h5>
         Our helpful tool analyes your personality to search for the major that will specifically fit you and your career. Try it today!  
         </h5>

         <h2>Search for Your Career</h2>

         <footer>16Pathways 2021</footer>

        
     </body>
  
</html>

