{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>16Pathways</title>
    <link href="{% static 'about.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<header>
			<div id="title">
				<img src="https://cdn.discordapp.com/attachments/855134240203079711/878755791887282267/unknown.png">
				<h1> <a href="https://infinite-earth-37349.herokuapp.com/"> </a>16Pathways </a></h1>
			</div>
		</header>
		<main>
			<div id="top">
				<h1>About Us</h1>
			</div>
			<h1>Our Mission</h1>
			<p>16Pathways matches users with one of the Myers-Briggs Type Indicator (MBTI) personality types based on their responses to our quiz. This, in turn, offers a career pathway with a few sample professions strongly associated with the users’ mannerisms and identity. It is important to keep in mind that, because the MBTI is a conceptual THEORY, the results provided are in no way precise. Rather, they give the quiz taker some possibilities to consider moving forward.<br>
      </p>
			<h1>Our Team</h1>
			<section id="team">
				<section class="profile" id="Aaren">
                    <img src="">
					<h3>Aaren Arasaratnam</h3>
					<section class="description">
						<p> Front-End Developer</p>
					</section>
				</section>
				<section class="profile" id="Harry">
                    <img src="">
					<h3>Harry Pun</h3>
					<section class="description">
						<p> Front-End Developer</p>
					</section>
				</section>
				<section class="profile" id="Alex">
                    <img src="">
					<h3>Alex Li</h3>
					<section class="description">
						<p> Full Stack Developer</p>
					</section>
				</section>
				<section class="profile" id="Eric">
                    <img src="">
					<h3>Eric Wang</h3>
					<section class="description">
						<p> Back-End Developer</p>
					</section>
				</section>
			</section>
		</main>
    <footer>
        <p style = text-align:center; "font-family:'Arial'";> Copyright 2021 | All Rights Reserved</p>
    </footer>
  </body>
</html>
