{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>16 Pathways</title>
    <link href="{% static 'Landing.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<img src="https://media.discordapp.net/attachments/855134240203079711/878749889985667162/16Pathways_Logo_Revised.png?width=1808&height=904">
        <button class = fancyButton> <a href="https://infinite-earth-37349.herokuapp.com/aboutus/"> About Us </a> </button> 
        <form method = "POST" action = "results/">
            {% csrf_token %}
            <!--copy and past the checkboxes and questions and add the numbers--> 
            <h3>1) You consider yourself more of an extrovert than an introvert</h3>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="1a" name="val">
                <label class="form-check-label" for="1a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="1b" name="val">
                <label class="form-check-label" for="1b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="1c" name="val">
                <label class="form-check-label" for="1c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="1d" name="val">
                <label class="form-check-label" for="1d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="1e" name="val">
                <label class="form-check-label" for="1e">Strongly Disagree</label>
            </div>
            <!--Q2-->
            <h3>2) You consider yourself more of an extrovert than an introvert</h3>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="2a" name="val">
                <label class="form-check-label" for="2a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="2b" name="val">
                <label class="form-check-label" for="2b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="2c" name="val">
                <label class="form-check-label" for="2c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="2d" name="val">
                <label class="form-check-label" for="2d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="2e" name="val">
                <label class="form-check-label" for="2e">Strongly Disagree</label>
            </div>
            <h3>3) You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
            <h3>You consider yourself more of an extrovert than an introvert</h3>
		    <button class = fancyButton type="submit"> <a> Search  </a></button> 
        </form>
        
        <div class = space></div>
        <footer>
			<p>Copyright 2021 | All Rights Reserved</p>
	    </footer>
  </body>
</html>
