{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>16 Pathways</title>
    <link href="{% static 'Landing.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<img src="https://media.discordapp.net/attachments/855134240203079711/878749889985667162/16Pathways_Logo_Revised.png?width=1808&height=904">
        <button class = fancyButton> <a href="https://infinite-earth-37349.herokuapp.com/aboutus/"> About Us </a> </button> 
        <form method = "POST" action = "results/">
            {% csrf_token %}
		    <button class = fancyButton type="submit"> <a> Search  </a></button> 
        </form>

    <footer>
			<p>Copyright 2021 | All Rights Reserved</p>
		</footer>
  </body>
</html>
