{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>16 Pathways</title>
    <link href="{% static 'Landing.css' %}" rel="stylesheet" type="text/css" />
  </head>
  <body>
		<img src="https://media.discordapp.net/attachments/855134240203079711/878749889985667162/16Pathways_Logo_Revised.png?width=1808&height=904">
        <button class = fancyButton> <a href="https://infinite-earth-37349.herokuapp.com/aboutus/"> About Us </a> </button> 
        <br>
        <h1>Personality Quiz</h1>
        <h2>Note: Please refrain from checking more than one checkbox for each question. It’ll break the site</h2>
        <form method = "POST" action = "results/">
            {% csrf_token %}
            <!--copy and past the checkboxes and questions and add the numbers--> 
            <h3>1) Socializing in very large groups of people is NOT for you.</h3>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="1a" name="val">
                <label class="form-check-label" for="1a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="1b" name="val">
                <label class="form-check-label" for="1b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="1c" name="val">
                <label class="form-check-label" for="1c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="1d" name="val">
                <label class="form-check-label" for="1d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="1e" name="val">
                <label class="form-check-label" for="1e">Strongly Disagree</label>
            </div>
            <!--Q2-->
            <h3>2) You prefer methodically planning out your days as opposed to improvising on the spot.</h3>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="2a" name="val">
                <label class="form-check-label" for="2a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="2b" name="val">
                <label class="form-check-label" for="2b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="2c" name="val">
                <label class="form-check-label" for="2c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="2d" name="val">
                <label class="form-check-label" for="2d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="2e" name="val">
                <label class="form-check-label" for="2e">Strongly Disagree</label>
            </div>
            <h3>3) The emotions of others can be very draining to your own mental health.</h3>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="3a" name="val">
                <label class="form-check-label" for="3a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="3b" name="val">
                <label class="form-check-label" for="3b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="3c" name="val">
                <label class="form-check-label" for="3c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="3d" name="val">
                <label class="form-check-label" for="3d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="3e" name="val">
                <label class="form-check-label" for="3e">Strongly Disagree</label>
	    </div>
            <h3>4) Most would say you are quite sensitive to criticism.</h3>
		<div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="4a" name="val">
                <label class="form-check-label" for="4a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="4b" name="val">
                <label class="form-check-label" for="4b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="4c" name="val">
                <label class="form-check-label" for="4c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="4d" name="val">
                <label class="form-check-label" for="4d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="4e" name="val">
                <label class="form-check-label" for="4e">Strongly Disagree</label>
	    </div>
            <h3>5) You wish there was less chaos and unpredictability in your life. </h3>
		<div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="5a" name="val">
                <label class="form-check-label" for="5a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="5b" name="val">
                <label class="form-check-label" for="5b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="5c" name="val">
                <label class="form-check-label" for="5c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="5d" name="val">
                <label class="form-check-label" for="5d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="5e" name="val">
                <label class="form-check-label" for="5e">Strongly Disagree</label>
	    </div>
            <h3>6) You have strong moral beliefs that help guide you through life’s hurdles.</h3>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="6a" name="val">
                <label class="form-check-label" for="6a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="6b" name="val">
                <label class="form-check-label" for="6b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="6c" name="val">
                <label class="form-check-label" for="6c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="6d" name="val">
                <label class="form-check-label" for="6d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="6e" name="val">
                <label class="form-check-label" for="6e">Strongly Disagree</label>
	    </div>
	    <h3>7) Your family and friends would NOT describe you as blunt and honest.</h3>
                <div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="7a" name="val">
                <label class="form-check-label" for="7a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="7b" name="val">
                <label class="form-check-label" for="7b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="7c" name="val">
                <label class="form-check-label" for="7c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="7d" name="val">
                <label class="form-check-label" for="7d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="7e" name="val">
                <label class="form-check-label" for="7e">Strongly Disagree</label>
	    </div>
            <h3>8) You often focus on the overarching picture rather than the minute details when solving problems.</h3>
		<div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="8a" name="val">
                <label class="form-check-label" for="8a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="8b" name="val">
                <label class="form-check-label" for="8b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="8c" name="val">
                <label class="form-check-label" for="8c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="8d" name="val">
                <label class="form-check-label" for="8d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="8e" name="val">
                <label class="form-check-label" for="8e">Strongly Disagree</label>
	    </div>
            <h3>9) You get a thrill out of exploring intangible ideas, future possibilities, and what ifs.</h3>
		<div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="9a" name="val">
                <label class="form-check-label" for="9a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="9b" name="val">
                <label class="form-check-label" for="9b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="9c" name="val">
                <label class="form-check-label" for="9c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="9d" name="val">
                <label class="form-check-label" for="9d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="9e" name="val">
                <label class="form-check-label" for="9e">Strongly Disagree</label>
	    </div>
            <h3>10) You naturally get involved in the social life of a new workplace or environment.</h3>
		<div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="10a" name="val">
                <label class="form-check-label" for="10a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="10b" name="val">
                <label class="form-check-label" for="10b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="10c" name="val">
                <label class="form-check-label" for="10c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="10d" name="val">
                <label class="form-check-label" for="10d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="10e" name="val">
                <label class="form-check-label" for="10e">Strongly Disagree</label>
	    </div>
            <h3>11) You are frequently labelled as a perfectionist by colleagues and peers.</h3>
		<div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="11a" name="val">
                <label class="form-check-label" for="11a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="11b" name="val">
                <label class="form-check-label" for="11b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="11c" name="val">
                <label class="form-check-label" for="11c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="11d" name="val">
                <label class="form-check-label" for="11d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="11e" name="val">
                <label class="form-check-label" for="11e">Strongly Disagree</label>
	    </div>
            <h3>12) Even the most miniscule of mistakes can lead to extreme doubt and insecurity.</h3>
		<div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="12a" name="val">
                <label class="form-check-label" for="12a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="12b" name="val">
                <label class="form-check-label" for="12b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="12c" name="val">
                <label class="form-check-label" for="12c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="12d" name="val">
                <label class="form-check-label" for="12d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="12e" name="val">
                <label class="form-check-label" for="12e">Strongly Disagree</label>
	    </div>
            <h3>13) You often struggle to live in the present moment because you spend a lot of time thinking.</h3>
		<div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="13a" name="val">
                <label class="form-check-label" for="13a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="13b" name="val">
                <label class="form-check-label" for="13b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="13c" name="val">
                <label class="form-check-label" for="13c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="13d" name="val">
                <label class="form-check-label" for="13d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="13e" name="val">
                <label class="form-check-label" for="13e">Strongly Disagree</label>
	    </div>
            <h3>14)  After a long and exhausting week, a frat party is NOT what you need. </h3>
		<div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="14a" name="val">
                <label class="form-check-label" for="14a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="14b" name="val">
                <label class="form-check-label" for="14b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="14c" name="val">
                <label class="form-check-label" for="14c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="14d" name="val">
                <label class="form-check-label" for="14d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="14e" name="val">
                <label class="form-check-label" for="14e">Strongly Disagree</label>
	    </div>
            <h3>15)  I almost always make sure my tasks are completed on time.</h3>
		<div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="15a" name="val">
                <label class="form-check-label" for="15a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="15b" name="val">
                <label class="form-check-label" for="15b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="15c" name="val">
                <label class="form-check-label" for="15c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="15d" name="val">
                <label class="form-check-label" for="15d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="15e" name="val">
                <label class="form-check-label" for="15e">Strongly Disagree</label>
	    </div>
            <h3>16) You would rather have a few deeper relationships over many casual ones.</h3>
		<div class="form-check">
                <input class="form-check-input" type="checkbox" value="5" id="16a" name="val">
                <label class="form-check-label" for="16a">Strongly Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="16b" name="val">
                <label class="form-check-label" for="16b"> Agree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="3" id="16c" name="val">
                <label class="form-check-label" for="16c">Neutral</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2" id="16d" name="val">
                <label class="form-check-label" for="16d">Disagree</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1" id="16e" name="val">
                <label class="form-check-label" for="16e">Strongly Disagree</label>
	    </div>
		    <button class = fancyButton type="submit"> <a> Search  </a></button> 
        </form>
        
        <div class = space ></div>
        <footer>
			<p>Copyright 2021 | All Rights Reserved</p>
	    </footer>
  </body>
</html>
